
/*//////////////////////////////   INIT   ///*/
body {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

.orange {
  color: #ff7300;
}

.red {
  color: #ff0000;
}

.blue {
  color: #3e80ff;
}

.purple {
  color: #be15e8;
}

/*//////////////////////////////   MAIN   ///*/

.location-container {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 margin-right: 25px;
}

.location-container img {
 height: 40px;
 margin-top: 8px;
 margin-right: 8px;
}

.location-container p {
 margin-top: 15px;
}

.container {
  /*border: 1px solid #ffffff;*/
  /*border-radius: 5px;*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
  text-align: center;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #ffffff;
}

.data-container h4 {
  font-size: 50px;
}

.data-container h5 {
  font-size: 20px;
}

.data-container .data-icon {
  height: 30px;
  margin-right: 5px;
  font-size: 300px;
}

.data-container .data-span {
  font-size: 30px;
}

.data-container .data-summary {
  font-size: 25px;
  font-style: italic;
}

.line-chart {
  margin: 15px 0px 15px 0px;
  border-radius: 5px;
  /*height: 100px;*/
}

.data-outlook {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 15px 0px;
  border-top: 1px solid #ffffff;
}

.outlook-container {
  margin: 5px;
  padding: 4px;
  width: 333px;
}

.outlook-icon {
  height: 35px;
  margin: 4px 0px 4px 0px;
}

footer {
  padding-top: 20px;
}

footer div {
 text-align: center;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 padding-bottom:7px;
}

/*//////////////////////////////   LOADER   ///*/
.loader-container h1 {
  margin-top: 80px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: serif, sans-serif;
  font-size: 60px;
  text-shadow: 4px 4px 4px #000000;
}

.loader {
  color: #ffffff;
  opacity: 0.7;
  font-size: 40px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}



@media screen and (max-width: 768px) {

  .location-container {
   justify-content: center;
  }

  .data-container {
    background-color: transparent;
  }

  .data-outlook {
    flex-direction: column;
    border-top: none;
  }

  .outlook-container {
    background-color: transparent;
    border: none;
    border-top: 1px solid #ffffff;
    border-radius: 0px;
  }

}
